body{
	color:black;
}

@font-face{
	font-family:'mainlevee';
	src:url("fonts/main_levee.ttf")format("truetype");
}
@font-face{
	font-family: "vaivai";
	src:url("fonts/Vaivai.ttf")format("truetype");
}
@font-face{
	font-family:"terminaldosis";
	src:url("fonts/TerminalDosis-VaivaiRegular.ttf")format("truetype");
}
@font-face{
	font-family:"terminaldosis semibold";
	src:url("fonts/TerminalDosis-SemiBold.ttf")format("truetype");
}

.clearboth{
	clear: both;
}
/***HEADER*****/
.banniere_index{
	padding-top: 0px;;
}
header>ul>li {
	display: inline-block;
	font-family: "mainlevee";
	font-size: 140%;
}

header>ul>li>a>img{
	width: 45%;
	margin-top:5%;
}
header>ul>li.menu{
	padding-top: 2%;
}
header>ul>li>a{
	text-decoration: none;
	color: black;
}

/******MAIN INDEX******/

.slider {
	background-size: contain;
}
.slider>img {
	max-width : 100%;
	height: auto;
}
.legende{
	margin-top: 9%;
}
div>h1+p{
	font-family: "terminaldosis";
	margin-top: 0%;
}
.vaivai{
	font-family: "vaivai";
	font-size : 600%;
}
.section{
	margin-top: 1%;
}

.background{
	background-image: url(../images/fond.jpg);
	color:white;
}
/**********INDEX LIEUX*****/
div.entete{
	margin: 0 auto;
	text-align: center;	
}
.section>div>div.entete>img{
	width:8%;	
}

.section>div>div.entete>h1{
	display: inline-block;
	font-size: 300%;
	font-family: "vaivai";
	text-transform: uppercase;
}
.planning{
	text-align: center;
	background-color: #f6c7dc;
	border-top: 10px solid #ed237a;
	height: 100px;
	font-family: "vaivai";
	font-size:250%;
	position:relative;
}
.planning:hover.planning{
	background-color: #ed237a;
	border-top: 10px solid #f6c7dc;
	color:#f6c7dc;
}
.planning:hover.image_rose{
	display:block;
}

.image_next{
	width: 3%;
	position:absolute;
	left: 48.3%;
	bottom:25%;
}
.image_rose{
	display:none;
}

div[class^="dates_"]{
	display: none;
}

table,td{
	background-color: #f6f6f6;
}
td{
	width:20px;
	text-align: center;
	font-family: "terminaldosis semibold";
	font-size: 79%;
}
div.widget>div{
	font-family: "vaivai";
	font-size:250%;
}

/********MAIN PRODUITS******/
div[class^=banniere_]{
	margin-top: 2%;
}
.index{
	margin-top: 0.8%;
}
.produits{
	margin-top: 6%;
	margin-bottom: 3%;
}
.produit_1, .produit_2, .produit_3, .produit_4, .produit_5, .produit_6, .produit_7, .produit_8, .produit_9{
	position: relative;
}

img[class^="plus_"]{
	position: absolute;
	bottom:5%;
	right:15%;
	width: 10%;
}
div[class^=categorie_]{
	position: absolute;
	left:0%;
}

div[class^=categorie_]>img{
	width: 5%;
	margin-top:-2%;
}
div[class^=categorie_]>h3{
	font-family: 'terminaldosis semibold';
	font-size: 120%;
	display: inline-block;
	padding-left: 2%;
}
/**** COULEURS H3 TITRE****/
.titre_vert{
	color: #99ca3c;
}
.titre_bleu{
	color: #73bbdd;
}
.titre_jaune{
	color: #efbe37;
}
.titre_turquoise{
	color: #07d0dd;
}
.info_produits{
	position:absolute;
	border-radius: 50%;
	filter:blur(2px);
	width: 355px;
	height: 355px;
	margin : auto;
	top:-20%;
	opacity: 0.5;
}
.rond>h2{
	font-family: "vaivai";
	position: absolute;
	top:7%;
	width: 90%;
	margin: auto;
}
.rond>div.infos{
	font-family: "terminal Dosis";
	color: #393537;
	font-size: 115%;
	position : absolute;
	top:30%;
	left:15%;
	width: 70%;
	text-align: left;
}
/************* INFOS PRODUITS******/

.bleu{
	background-color: #b2dcf0;
}
.vert{
	background-color:#c6e688;
}
.jaune{
	background-color: #f4d179;
}
.turquoise {
	background-color: #a5eae1;
}

img[class^="croix_"]{
	position: absolute;
	top:0;
	right:0;
	width: 10%;
}
div[class^=rond_]{
	display:none;
	text-align: center;
}
/******MAIN CULTURE COCO*****/
.slider-top{
	background-color: inherit;
	height: 40%;
}
.slider-bot{
	background-color: inherit;
	height: 40%;
}
img.slide_article{
	width:70%;
	margin:0 auto;
}
.slider-bot{
	font-family: "terminaldosis";
	font-size:100%;
}

.info_slide{
	width: 70%;
	margin:0  auto;
}
/*********FOOTER**********/

footer{
	background: #ffffff;
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 4%;
	overflow: hidden;
}
footer>ul>li{
	display: inline-block;
}
footer>nav>ul>li{
	display: inline-block;
}
footer>nav>ul>li>a{
	border-right: 1.25px solid #75716a;
	padding-right : 3px;
	color: #75716a;
}
footer>nav>ul>li>a#last{
	border-right: none;
}
.social svg path, .social svg circle {
	fill: #ed237a;
}

.social svg:hover path, .social svg:hover circle {
	fill: #75716a;
}