body{
	color:black;
}

@font-face{
	font-family:'mainlevee';
	src:url("fonts/main_levee.ttf")format("truetype");
}
@font-face{
	font-family: "vaivai";
	src:url("fonts/Vaivai.ttf")format("truetype");
}
@font-face{
	font-family:"terminaldosis";
	src:url("fonts/TerminalDosis-VaivaiRegular.ttf")format("truetype");
}
.clearboth{
	clear: both;
}
/***HEADER*****/
.banniere_index{
	padding-top: 0px;;
}
header>ul>li {
	display: inline-block;
	font-family: "mainlevee";
	font-size: 25px;
}

header>ul>li>a>img{
	height: 50px;
}
header>ul>li.menu{
	padding-top: 20px;
}
header>ul>li>a{
	text-decoration: none;
	color: black;
}

/******MAIN INDEX******/

.slider {
	background-size: contain;
}
.slider>img {
	max-width : 100%;
	height: auto;
	display: block;
}
.legende{
	margin-top: 100px;
}
.widget{
	width: 25%;
}
div>h1+p{
	font-family: "terminaldosis";
	margin-top: -50px;
}
.vaivai{
	font-family: "vaivai";
	font-size : 100px;
}
.slick-prev{
	z-index: 2;
}

.lieux{
	margin-top : 400px;
}
section{
	margin-top: 50px;
}

/********MAIN PRODUITS******/
.banniere_produits{
	margin-top: 20px;
}
.produits{
	margin-top: 4%;
	margin-bottom: 3%;
}
.produit_1, .produit_2, .produit_3, .produit_4, .produit_5, .produit_6, .produit_7, .produit_8, .produit_9{
	position: relative;
}

img[class^="plus_"]{
	position: absolute;
	bottom:5%;
	right:15%;
}
div[class^="txt_prod_"]{
	position:absolute;
	border-radius: 50%;
	background-color: red;
	width: 350px;
	height: 350px;
	opacity: 0.5;
	margin : auto;
	top:-20%;
}
img[class^="croix_"]{
	position: absolute;
	top:0;
	right:0;
}
div[class^=rond_]{
	display:none;
}









/*********FOOTER**********/

footer{
	background: #ffffff;
	text-align: center;
	padding: 15px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
footer>ul>li{
	display: inline-block;
}
footer>nav>ul>li{
	display: inline-block;
}
footer>nav>ul>li>a{
	border-right: 1.25px solid #75716a;
	padding-right : 3px;
	color: #75716a;
}
footer>nav>ul>li>a#last{
	border-right: none;
}
.social svg path, .social svg circle {
	fill: #ed237a;
}

.social svg:hover path, .social svg:hover circle {
	fill: #75716a;
}